*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
    font-weight: 300;
}
body{
    background-color: rgb(222, 220, 220);
}
.main{
    margin: 80px auto;
    width: 50%;
    height: 450px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
}
.inputs{
    width: 100%;
}
.inputs input{
    width: 75%;
    line-height: 35px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #AEAAFB;
    outline: none;
}
.inputs button{
    width: 105px;
    height: 35px;
   color: white;
    background-color: #7771f6;
    border: 1px;
    font-weight: bold;
    border-radius: 3px;
    margin-left:5px;
}
table {
   margin-top: 20px;
 margin-left: 27px;
   width: 30%;
   border-collapse: collapse;
}
tr{
    line-height: 25px;
    border: 1px solid green;
}
td{
    border: 1px solid #AEAAFB;
}